@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@theme {
  --color-dark: #090c13;
  --color-light: #e5e7eb;
  --color-primary: #00df9a;
  --color-secondary: #f59e0b;
}

@layer utilities {
  .dark {
    @apply bg-black text-white;
  }

  .light {
    @apply bg-white text-black;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
